body{
	margin:0;
	padding-left: 8px;
	padding-right: 8px;
	background-color: #385ec7;

}
/*
.all-site{
	
	height: fit-content;
	
}*/


/* -----------LE TITRE------------*/

.top-site-titre {
	background-color: #001652;
	color: lightblue;
	height: 70px;
	
	padding: 2px 6px 2px 6px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;

}
.white-text{
	color: white;
	
	
}




/* -----------LE MENU------------*/
.top-site-menu input#menu-btn{
	display: none;
}
.top-site-menu{
background-color: blue;
color: white;
height: 70px;
border-radius: 0 0 12px 12px;


}
.top-site-menu nav ul{
	list-style: none;	
	margin: 0;
	padding-top: 12px;
	padding-left: 2px;
	


}

.top-site-menu nav ul li{
	margin-left: 4px;
	margin-right: 4px;
	display: inline;

}
.top-site-menu nav ul li a{
	color: white;
	display: inline-block;
  text-decoration: none;
  padding-top: 14px;
  padding-right: 4px;
  padding-left: 4px;
  
  
}
.top-site-menu nav ul li a:hover{
	background-color: black;
	height: 30px;
	border-radius: 8px;
	
}



/*---------------------LE CONTENU---------------------*/
.contenu{
	margin-bottom: 50px;
	display: flex;
	align-items: flex-start;
}
/*---------------------LE CONTENU LIEN---------------------*/
.contenu .liens{
	
	background-color: white;
	margin-top: 9px;

	padding-top: 9px;
	padding-bottom: 9px;
	border-radius: 14px;
	flex-grow: 1;
}
.contenu .liens ul {
list-style: none;
padding-left: 15px;
padding-right: 15px;
}
.contenu .liens .lien-titre{
	
	color: blue;
	border-bottom:2px solid black;


}
.contenu .liens ul .lien li{
margin-top: 15px;
margin-bottom: 15px;
border-bottom:2px dashed black;
}
						/*first-child use*/

/*---------------------LE CONTENU DROITE---------------------*/
.contenu .right-contenu{
	
	margin-left: 9px;
	margin-right: 0;
	width: 75%;
	flex-grow: 3;


}
/*---------------------LE CONTENU DROIT TOP---------------------*/
.contenu .right-contenu .top-contenu{
	border: 5px solid black;
	border-radius: 14px;
	margin-top: 9px;
	overflow: auto;
	background-color: white;

	display: flex;
	
}
.contenu .right-contenu .top-contenu .left-p{
	padding-left: 10px;
	flex-grow: 3;

	
}
.contenu .right-contenu .top-contenu .right-img{
	padding-top: 60px;
	flex-grow: 1;
	
}

.contenu .right-contenu .top-contenu .a-propos{
	padding-left: 20px;
	padding-right: 20px;

	
}
.contenu .right-contenu .top-contenu .a-propos .aero-blue{
	color: blue;
}
/*---------------------LE CONTENU Forum---------------------*/
.contenu .right-contenu .top-contenu .forum{
	padding-left: 30px;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.contenu .right-contenu .top-contenu .forum .ligne{
	display: flex;
	flex-direction: row;
}
.contenu .right-contenu .top-contenu .forum .ligne .col-25 {
  flex-grow: 1;
  width: 15%;
  margin-top: 6px; 
  /*margin-right: -20px;*/
}

.contenu .right-contenu .top-contenu .forum .ligne .col-75 {
  flex-grow: 3;
  width: 45%;
  margin-top: 6px;
}
.contenu .right-contenu .top-contenu .forum .col-75 input[type="text"]{
	width:200px;
}
.contenu .right-contenu .top-contenu .forum .col-75 input[type="email"]{
	width:200px;
}
.contenu .right-contenu .top-contenu .forum .col-75 input[type="tel"]{
	width:200px;
}
.contenu .right-contenu .top-contenu .forum  input[type="submit"]{
	margin-top: 4px; 
	width:100px;
}
.contenu .right-contenu .top-contenu .forum fieldset{
	display: block;
}
legend{
	text-align: center;
}

.contenu .right-contenu .top-contenu .forum .check-box{
	display: flex;
}

.contenu .right-contenu .top-contenu .forum .check-box .right-col{
  width: 10%;
  margin-top: 6px;
  
  
}
.contenu .right-contenu .top-contenu .forum .check-box .left-col{
	width: 10%;
  margin-top: 6px;
  
}
.contenu .right-contenu .top-contenu .forum{
	margin-bottom: 50px;
}

/*---------------------LE CONTENU DROIT BOTTOM---------------------*/

.contenu .right-contenu .bottom-contenu {
	border: 5px solid black;
	border-radius: 14px;
	margin-top: 9px;
	overflow: auto;
	background-color: white;

	display: flex;
	flex-direction: column;
}
.contenu .right-contenu .bottom-contenu .titre-bottom{
	padding-left: 20px;
	align-self:  center;
}
.contenu .right-contenu .bottom-contenu ul{
	margin-top:  0;
	margin-bottom: 40px;
	list-style: none;
}
.contenu .right-contenu .bottom-contenu .bottom-ul{
	display: flex;
	justify-content: space-around;
}

.contenu .right-contenu .bottom-contenu .tablaux h5{
	color: blue;
	padding-left: 30px;
	font-size: 20px;
}
.contenu .right-contenu .bottom-contenu .tablaux table{
	width: 35%;
	padding-left: 30px;

}
.contenu .right-contenu .bottom-contenu .tablaux table td{
	text-align: center;
	border-bottom: 2px dashed black; 

}
.contenu .right-contenu .bottom-contenu .tablaux table th{
text-align: center;
	border-bottom: 2px dashed black; 
}
.contenu .right-contenu .bottom-contenu .tablaux  .tab2{
	padding-bottom: 50px;
}

/*--------------------Footer---------------------*/
footer {
	
   text-align: center;
  padding: 3px;
  margin-top: 10px;
  background-color: black;
  color: white;
  align-self: flex-end;
}
/*--------------------NEWS BAR---------------------*/

.news-box {
  position: relative; /* this one i changed*/
  bottom: 0;
    left: 0;
  width: 100%;
  overflow: hidden; /* bach maybanch le contenu adroit et a gauche*/
  height: 4rem;
  background-color: #e41b17;
  box-sizing: content-box;
}

.news-box .news {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 30s;
}
.news-box .news-item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 2rem;
  color: white;
}
@keyframes ticker {
  0% {
    
    transform: translate3d(0, 0, 0);/*it moves (x y z)*/
    visibility: visible;
  }
  100% {
    
    transform: translate3d(-100%, 0, 0);
  }
}