body{
	margin:0;
	padding-left: 8px;
	padding-right: 8px;
	background-color: #385ec7;

}
/*
.all-site{
	
	height: fit-content;
	
}*/


/* -----------LE TITRE------------*/

.top-site-titre {
	background-color: #001652;
	color: lightblue;
	height: 70px;
	margin: 0;
	padding: 0;


}
.white-text{
	color: white;
	
	
}


.big-title{
  	
	float: left;
	

}
.small-title{
	
	float: right;
	padding-right: 20px;
	padding-top: 15px;
	
}

/* -----------LE MENU------------*/

.top-site-menu{
background-color: blue;
color: white;
height: 40px;

}
.top-site-menu nav ul{
	list-style: none;	
	margin: 0;
	padding-top: 12px;
	padding-left: 2px;


}

.top-site-menu nav ul li{
	margin-left: 4px;
	margin-right: 4px;
	display: inline;
}
.top-site-menu nav ul li a{
	color: white;
  text-decoration: none;
  
}



/*---------------------LE CONTENU---------------------*/
/*---------------------LE CONTENU LIEN---------------------*/
.contenu .liens{
	width: 15%;
	background-color: white;
	margin-top: 9px;

	padding-top: 9px;
	padding-bottom: 9px;
	border-radius: 14px;
	float: left;
}
.contenu .liens ul {
list-style: none;
padding-left: 15px;
padding-right: 15px;
}
.contenu .liens ul li{
margin-top: 15px;
margin-bottom: 15px;
border-bottom:2px dashed black;
}
						/*first-child use*/
.contenu .liens ul li:first-child{
	color: blue;
	border-bottom:2px solid black;

}
/*---------------------LE CONTENU DROITE---------------------*/
.contenu .right-contenu{
	width: 84.3%;
	margin-left: 9px;
	margin-right: 0;
	float: left;


}
/*---------------------LE CONTENU DROIT TOP---------------------*/
.contenu .right-contenu .top-contenu{
	border: 5px solid black;
	border-radius: 14px;
	margin-top: 9px;
	overflow: auto;
	background-color: white;
	
}
.contenu .right-contenu .top-contenu .left-p{
	padding-left: 10px;

	
}
.contenu .right-contenu .top-contenu .right-img{
	padding-top: 60px;
	float:right;
	
}
.contenu .right-contenu .top-contenu {
	clear: both;
}

/*---------------------LE CONTENU DROIT BOTTOM---------------------*/

.contenu .right-contenu .bottom-contenu {
	border: 5px solid black;
	border-radius: 14px;
	margin-top: 15px;
	overflow: auto;
	background-color: white;
}
.contenu .right-contenu .bottom-contenu h5{
	padding-left: 90px;
}
.contenu .right-contenu .bottom-contenu ul{
	margin-top:  0;
	margin-bottom: 40px;
	list-style: none;
}
.contenu .right-contenu .bottom-contenu .dev-parisien{
	width: 24%;
	float: left;
}
.contenu .right-contenu .bottom-contenu .dev-parisien-r{
	float: right;
	width: 24%
}


/*--------------------NEWS BAR---------------------*/

.news-box {
  position: fixed;
  bottom: 0;
    left: 0;
  width: 100%;
  overflow: hidden; /* bach maybanch le contenu adroit et a gauche*/
  height: 4rem;
  background-color: #e41b17;
  box-sizing: content-box;
}

.news-box .news {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 30s;
}
.news-box .news-item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 2rem;
  color: white;
}
@keyframes ticker {
  0% {
    
    transform: translate3d(0, 0, 0);/*it moves (x y z)*/
    visibility: visible;
  }
  100% {
    
    transform: translate3d(-100%, 0, 0);
  }
}